.headline {
  position: relative;
}

.headline::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 2px;
  background-image: linear-gradient(to right, green 10%, rgb(216, 216, 216) 20%);
}

.course-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center the cards horizontally */
  gap: 20px; /* Adjust the gap between cards */
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  max-width: calc(33.33% - 40px); /* Adjust card size with proper gap calculation */
}

.card-button {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* Adjust the space between buttons */
  justify-content: center; /* Align buttons at the center horizontally */
}

.card-button button {
  padding: 5px 10px; /* Adjust the padding to provide space */
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.card-button button:hover {
  background-color: #333; /* Darken the button color on hover */
}

.card img {
  width: 200px;
  height: auto;
  margin-bottom: 20px; /* Reduce the bottom margin */
}

.card h1 {
  margin: 0;
  font-size: 24px;
}

.course-details {
  display: flex;
  justify-content: center;
}
